Source: sluk
Section: mail
Priority: extra
Maintainer: Jameson Graef Rollins <jrollins@finestructure.net>
Standards-Version: 3.9.1.0
Vcs-Git: git://github.com/krl/sluk.git
Vcs-Browser: http://github.com/krl/sluk/

Package: sluk
Architecture: all
Depends: 
 ${misc:Depends}
Suggests: 
 notmuch
Description: simple RSS feed to local message delivery 
 sluk is a simple program that turns RSS feeds into individual
 messages that are delivered to individual files locally (ala
 maildir).  This makes if very easy to follow RSS feeds with mail
 readers that handle maildir (aka notmuch).
